.pagination {
  justify-content: center;
  margin-top: 5px;
}

.page-link {
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.page-link:hover {
  transition: all 0.3s ease-in-out;
  clip-path: polygon(32% 17%, 116% 36%, 100% 100%, 0% 100%);
}
.page-link {
  padding: 1.4em !important;
}
.page-link a:hover {
  background-color: red;
}

.scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background: red;
  color: white;
}
.scroll-up:hover {
  cursor: pointer;
}
.scroll-up:focus {
  outline: none;
}
