.snow {
  font-size: 1rem;
  line-height: 3.5;
  color: white;
}

@keyframes anim {
  0% {
    transform: rotate(360deg);
    top: -80px;
  }
  100% {
    top: 950px;
    transform: rotate(0deg);
  }
}
